:root {
  --text: #041c1e;
  --background: #f5fdfe;
  --primary: #31d7e4;
  --secondary: #8db2f0;
  --accent: #547ae8;
}
* {
  box-sizing: border-box;

  position: relative;

  min-width: 0;

  margin: 0;
  padding: 0;
  color: var(--text);
}
body {
  min-height: 100dvh;
  font-family: "Roboto", serif;
  background: var(--background);
  display: flex;
  flex-direction: column;
}

h1,
h2,
h3,
h4 {
  text-wrap: Balance;
}

p {
  text-wrap: pretty;
}

/* Header */
header {
  display: flex;
  justify-content: space-around;
  border-bottom: 1px solid #e0e5e6;
}
.logo_section {
  display: flex;
  align-items: center;
}
.nav_header {
  display: flex;
  align-items: center;
  ul {
    display: flex;
    align-items: center;
    gap: 2rem;
    list-style: none;
    li:hover {
      transform: scale(1.1);
      transition: all 0.3s ease;
    }
  }
}
.link_item {
  text-decoration: none;
  font-size: 1.25rem;
}
.link_item:hover {
  color: var(--primary);
}

.search_container {
  display: flex;
  align-items: center;
}
.search_section {
  position: relative;
  display: flex;
  align-items: center;
  width: 100%;
  max-width: 400px;
  height: fit-content;
  border: 2px solid var(--primary);
  border-radius: 15px;
  overflow: hidden;
  gap: 1rem;
}

.search_section input {
  flex: 1;
  padding: 10px;
  padding-left: 30px;
  border: none;
  outline: none;
  font-size: 16px;
}

.search_section i {
  position: absolute;
  left: 10px;
  color: var(--primary);
  pointer-events: none;
  z-index: 999;
}

.clear_btn {
  background-color: transparent;
  color: var(--primary);
  display: flex;
  align-items: center;
  justify-content: center;
}
.hidden {
  visibility: hidden;
}
.search_section button {
  border: none;
  padding: 10px;
  cursor: pointer;
  font-size: 16px;
  outline: none;
}

.search_btn {
  background-color: var(--primary);
  padding: 10px;
  user-select: none;
}

/* main  */
main {
  display: flex;
  align-items: center;
  padding: 2rem;
  flex-grow: 1;
}
/* aside */
.social_seccion {
  padding: 1rem;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  margin-right: 2rem;
  justify-content: center;
  align-items: center;
}
.social_seccion i {
  font-size: 2rem;
  cursor: pointer;
  color: var(--secondary);
}
.social_seccion i:hover {
  color: var(--accent);
  transform: scale(1.1);
  transition: all 0.3s ease;
}

.info_container {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}
.title_home {
  font-size: 3rem;
  max-width: 500px;
  color: var(--accent);
}
.text_home {
  max-width: 400px;
}
.btn {
  max-width: 150px;
  cursor: pointer;
  padding: 1rem;
  border-radius: 5px;
  background-color: var(--primary);
  color: var(--text);
  border: 2px solid var(--primary);
  font-size: 1.25rem;
  display: inline-block;
  white-space: nowrap;
  outline: none;
  box-shadow: 0 20px 80px -10px transparent;
  transition: all 0.3s ease;
  user-select: none;
}

.btn:hover {
  background-color: var(--background);
  color: var(--primary);
  box-shadow: 0 20px 80px -10px var(--primary);
}

.img_landscape {
  width: 500px;
  height: 500px;
  position: absolute;
  top: 0rem;
  right: 0rem;
  border-bottom-left-radius: 100%;
  object-fit: cover;
}
